{% extends 'base.html.twig' %}

{% block title %}Blog - Accueil{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Accueil</h1>
<div class="card m-5 p-5">

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Dominois Thomas</div>
  <div class="card-body">
    <h4 class="card-title">Page Article</h4>
    <p class="card-text">Création de la page article et de la base de donné qui y est référencé.</p>
  </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Touier Safia</div>
  <div class="card-body">
    <h4 class="card-title"> Page Categorie </h4>
    <p class="card-text">Réalisation de la page Categorie et de son formulaire, référencé par la Bdd</p>
  </div>
</div>
</div>
{% endblock %}
