{% extends 'base.html.twig' %}

{% block title %}Blog-Accueil{% endblock %}

{% block body %}

<h1>Accueil</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Dominois Thomas</div>
  <div class="card-body">
    <h4 class="card-title">Page Article</h4>
    <p class="card-text">Création de la page article et de la base de donné qui y est référencé.</p>
  </div>
</div>
{% endblock %}
